# Database config
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=password
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_DATABASE=xaea12

# App database poll config
## Source: https://github.com/ufoscout/docker-compose-wait
WAIT_HOSTS=xaea12:3306
WAIT_HOSTS_TIMEOUT=300
WAIT_SLEEP_INTERVAL=30
WAIT_HOST_CONNECT_TIMEOUT=30

# App config
X12_SERVER_URL=http://127.0.0.1:5000/
X12_HOST=0.0.0.0
X12_PORT=5000
## Secret generated using: cat /dev/urandom | base64 | head -c 40 && echo
## Source: https://serverfault.com/a/656158
X12_SECRET_KEY=WHwd4IdUyocqi+TElnbSnOpayRXuUJKJ85nacnOn
X12_DEBUG=false
X12_SQLALCHEMY_ECHO=false
## See SQLALCHEMY for reference
## Source: https://flask-sqlalchemy.palletsprojects.com/en/2.x/config/
X12_SQLALCHEMY_DATABASE_URI=mysql+pymysql://user:password@database:3306/xaea12
## Generated in gmail
## Source: https://mail.google.com/
X12_MAIL_SERVER=smtp.gmail.com
X12_MAIL_PORT=587
X12_MAIL_USE_SSL=false
X12_MAIL_USE_TLS=true
X12_MAIL_USERNAME=example@gmail.com
X12_MAIL_PASSWORD=password
X12_MAIL_DEFAULT_SENDER=Example sender
X12_USER_EMAIL_SENDER_NAME=Example sender
X12_USER_EMAIL_SENDER_EMAIL=example@gmail.com
## Generated in Firebase
## Source: https://firebase.google.com/
X12_SERVER_PUBLIC_NOTIFICATION_KEY=REPLACEWITHPUBLICKEY
X12_SERVER_PRIVATE_NOTIFICATION_KEY=REPLACEWITHPRIVATEKEY
X12_NOTIFICATION_SENDTO_EMAIL=example@gmail.com
