{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}

{% block content %}

<p><a href={{ url_for('topics.view_topics_page') }}></a></p>
      <a href="/topics/create">Add Topic</a>
      {% if topics|length >0 %}
         {% for topic in topics %}
         <div class="card mt-4 topics-card">
            <div class="card-body">
               <h5 class="card-title">{{ topic.label }}</h5>
               <h6 class="card-subtitle mb-2 text-muted">Code: {{ topic.code }}</h6>
               <a class="card-link" href="/topics/{{topic.id}}/messages">See messages</a>
              </div>
         </div>
         {% endfor %}
      {% endif %}
   
{% endblock %}