{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}

{% block content %}

<p><a href={{ url_for('topics.view_topics_page') }}></a></p>
      <a href="/topics/create">Add Topic</a>
      {% if topics|length >0 %}
         {% for topic in topics %}
         <div class="card mt-4 topics-card">
            <h5 class="card-header">Topic</h5>
            <div class="card-body">
              <a href="/topics/{{topic.id}}/messages">{{ topic.label }} [{{ topic.code }}]</a>
              </div>
         </div>
         {% endfor %}
      {% endif %}
   
{% endblock %}