{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}

{% block content %}

<p><a href={{ url_for('topics.view_topics_page') }}></a></p>
      <a href="/topics/create">Add Topic</a>
      
      {% if topics|length >0 %}
      <table>
         <thead>
            <tr>
                <th>name</th>
                <th>label</th>
            </tr>
         </thead>
         
         {% for topic in topics %}
         <tbody>
            <tr>
               <td>{{ topic.name }}</td>
               <td>{{ topic.label }}</td>
            </tr>
         </tbody>
         {% endfor %}
      </table>
      {% endif %}
      
{% endblock %}