{% extends "main/main_base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
    <p><a href={{ url_for('keys.list_keys') }}>{%trans%}API keys{%endtrans%}</a></p>
    <p><a href={{ url_for('topics.view_topics_page') }}>{%trans%}Message topics{%endtrans%}</a></p>
    {% else %}
    <div class="text-center">
        <div>
            <p>Developer tool for sending notifications</p>
        </div>
        <div>
            <span class="mx-4"><a href={{ url_for('user.register') }}>{%trans%}Register{%endtrans%}</a></span>
            <span class="mx-4"><a href={{ url_for('user.login') }}>{%trans%}Sign in{%endtrans%}</a></span>
        </div>
    </div>
    {% endif %}
{% endblock %}
