{% extends "main/main_base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
    <p>
        Notification bell legend:<br>
        Grey — Push notifications are not supported on this device<br>
        Black — Push notifications are available, click to subscribe<br>
        Green — Push notifications are enabled<br>
        Red — Push notifications are blocked by the user<br>
        Blue — An error occured while configuring notifications
    </p>
    <p>
        Example message triggering webhook:<br>
        http://&lt;XAEA12_SERVER&gt;/api/notify?key=&lt;API_KEY&gt;&topic=&lt;TOPIC_CODE&gt;&message=&lt;MESSAGE&gt;
    </p>
    <p><a href={{ url_for('topics.view_topics_page') }}>{%trans%}Message topics{%endtrans%}</a> — Grouped messages that are notified to the user</p>
    <p><a href={{ url_for('keys.list_keys') }}>{%trans%}API keys{%endtrans%}</a> — Authentication for messages triggered through a webhook</p>
    {% else %}
    <div class="text-center">
        <div>
            <p>Developer tool for sending notifications</p>
        </div>
        <div>
            <span class="mx-4"><a href={{ url_for('user.register') }}>{%trans%}Register{%endtrans%}</a></span>
            <span class="mx-4"><a href={{ url_for('user.login') }}>{%trans%}Sign in{%endtrans%}</a></span>
        </div>
    </div>
    {% endif %}
{% endblock %}
