<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- These 3 meta tags MUST come first -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="/static/manifest.json">
        <link rel="icon" type="image/png" sizes="512x512" href="/static/images/favicon_512.png">
        <!-- These 3 meta tags MUST come first -->

        <title>X Æ A-12</title>

        <!-- Bootstrap CSS and JS -->
        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Application specific CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    </head>
    <body>
        {% block body %}
        <!-- Application specific HTML -->
        <div class="bg-light">
            <div class="navbar navbar-expand-lg navbar-light bg-light mx-auto row container-md with-margins d-flex justify-content-between">
                <div class="navbar-brand"><a class="text-body" href="/"><h1 class="no-margins">X Æ A-12</h1></a></div>
                {% if current_user.is_authenticated %}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <span class="js-push-btn nav-link"><span class="d-lg-none mr-2">Notify</span><img src="{{ url_for('static', filename='images/bell.png') }}"></img></span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.profile') }}">{{ current_user.first_name or current_user.username or current_user.email }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('user.logout') }}">Sign out</a>
                        </li>
                        </ul>
                </div>
                {% endif %}
            </div>
        </div>
        <hr class="no-margins"/>

        <div id="main-div" class="my-4 mx-auto container-md with-margins">
        {% block pre_content %}{% endblock %}
        {# One-time system messages called Flash messages #}
        {% block flash_messages %}
            {%- with messages = get_flashed_messages(with_categories=true) -%}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category=='error' %}
                            {% set category='danger' %}
                        {% endif %}
                        <div class="alert alert-{{category}}">{{ message|safe }}</div>
                    {% endfor %}
                {% endif %}
            {%- endwith %}
        {% endblock %}

        <div class="card">
            <div class="card-body">
                {% if page_title is defined %}
                <h1 class="card-title">
                    {{ page_title }}
                </h1>
                {% endif %}
                {% block content %}{% endblock %}
            </div>
        </div>

        {% block post_content %}{% endblock %}
        </div>

        <!-- JS, Popper.js, and jQuery (for bootstrap JS functionality) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <!-- Global CSRF token for Push notification management -->
        <form action="" method="POST" class="form" role="form">
            {{ subscribe_form.hidden_tag() }}
        </form>
        <form action="" method="POST" class="form" role="form">
            {{ unsubscribe_form.hidden_tag() }}
        </form>
        <!-- Push notification management -->
        <script>
            var applicationServerPublicKey = "{{ server_public_notification_key }}"
        </script>
        <script src="{{ url_for('static', filename='scripts/notifications.js') }}"></script>
        {% endblock %}
    </body>
</html>
